/* @import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Raleway:wght@300;400;500&family=Rubik:wght@300;400;500&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@600;700;800&family=Raleway:wght@300;400;500&family=Rubik:wght@300;400;500&display=swap");
/*
font-family: 'Concert One', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Assistant', sans-serif;
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Assistant", sans-serif;
}

img {
  max-width: 100%;
}

h3 {
  font-size: 1.5rem;
}

main h3 {
  color: #999;
  font-size: 1.3rem;
}
main h1, main h2 {
  font-size: 1.8rem;
  font-weight: 800;
  color: #25272a;
}
main h1 > span, main h2 > span {
  color: #dc3545;
}
main p {
  line-height: 1.8;
  text-align: start;
  color: #777;
}

.button-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  width: inherit;
}

footer {
  width: 100%;
}

.hero__banner, .hero__banner-lg {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  height: 30vh;
  text-shadow: gray 1px 3px 5px;
}
@media screen and (min-width: 768px) {
  .hero__banner, .hero__banner-lg {
    align-items: start;
  }
}
.hero__banner > h2, .hero__banner-lg > h2, .hero__banner span, .hero__banner-lg span {
  color: #fe9402;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-align: start;
  font-size: 4rem;
}
.hero__banner > h2 > span, .hero__banner-lg > h2 > span, .hero__banner span > span, .hero__banner-lg span > span {
  margin: 1rem;
}
@media screen and (min-width: 992px) {
  .hero__banner > h2, .hero__banner-lg > h2, .hero__banner span, .hero__banner-lg span {
    font-size: 6.5rem;
  }
}

.hero__banner-lg {
  align-items: start;
  padding: 1.5rem;
}
.hero__banner-lg > h2, .hero__banner-lg span {
  font-size: 3.2rem;
  margin: 0;
  line-height: 1;
}
@media screen and (min-width: 992px) {
  .hero__banner-lg > h2, .hero__banner-lg span {
    font-size: 6.5rem;
    margin: 4rem;
  }
}

.hero__main {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  height: 70vh;
  /* &-ani{
      position: relative;
      width: 100%;
      &--img{
          >img{
              width: 50%;
              position: absolute;
              left: 0;
              top: 0;
          }
      }
  } */
}
.hero__main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.hero__main-title-img {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 0 0.75rem gray);
}
.hero__main-title-img .title-top {
  animation: rotate-hor-center 0.9s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@keyframes rotate-diagonal-tl {
  0% {
    transform: rotate3d(-1, 1, 0, 0deg);
    transform-origin: 0 0;
  }
  50% {
    transform: rotate3d(-1, 1, 0, 180deg);
    transform-origin: 0 0;
  }
  100% {
    transform: rotate3d(-1, 1, 0, 360deg);
    transform-origin: 0 0;
  }
}
.hero__main-title-img .title-buttom {
  animation: slide-in-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes rotate-hor-center {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-360deg);
  }
}

.container-news {
  height: 65vh;
  background-color: #fff;
  background-image: url(../img/bg/shape_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .container-news {
    height: auto;
    margin: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .container-news {
    height: 50vh;
  }
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.8rem;
}
.news__icon {
  position: relative;
  width: 100%;
  height: 7rem;
}
.news__icon--box {
  position: absolute;
  background-color: #000;
  width: 100px;
  height: 80px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
.news__icon--box :hover .bi-megaphone-fill {
  animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@keyframes shake-lr {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(8deg);
  }
  20%, 40%, 60% {
    transform: rotate(-10deg);
  }
  30%, 50%, 70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(8deg);
  }
}
@media screen and (min-width: 992px) {
  .news__icon {
    width: 926px;
  }
}
.news__title {
  display: flex;
  flex-direction: column;
}
.news__title > h2 {
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .news__title > h2 {
    font-size: 2rem;
    font-weight: 700;
  }
}
.news-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 4rem;
  height: 65%;
}
@media screen and (min-width: 992px) {
  .news-carousel {
    max-width: 926px;
  }
}
.news-carousel__body {
  display: flex;
  flex-direction: column;
}
.news-carousel__body--text > p {
  padding: 1.5rem 0;
  line-height: 1.8;
}

.bi {
  color: #dc3545;
  font-size: 3rem;
  position: absolute;
  right: -23%;
}

.next {
  font-size: 1.5rem;
  font-weight: 900;
}

.item-text {
  font-size: 1.2rem;
  font-weight: 700;
  color: #25272a;
}
.item-text span {
  color: #dc3545;
}
@media screen and (min-width: 992px) {
  .item-text {
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
  }
}

.about-us__cnt {
  background-color: #f2f2f2;
  background-image: url(../img/bg/bg_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-us__cnt .about-us {
  display: flex;
  flex-direction: column;
  min-height: 15rem;
  margin: 1.8rem;
}
@media screen and (min-width: 768px) {
  .about-us__cnt .about-us {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
  }
}
@media screen and (min-width: 768px) {
  .about-us__cnt .about-us__text {
    max-width: 80%;
  }
}
.about-us__cnt .about-us__text > p {
  padding: 1.5rem 0;
}
@media screen and (min-width: 768px) {
  .about-us__cnt .about-us__text > p {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) {
  .about-us__cnt .about-us__text > h1 {
    font-size: 2rem;
    font-weight: 700;
  }
}
.about-us__cnt .about-us__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
}
.about-us__cnt .about-us__img > h2,
.about-us__cnt .about-us__img span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #7cacd0;
  font-size: 3rem;
  font-family: "Assistant", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
.about-us__cnt .about-us__img > img {
  width: 250px;
}
@media screen and (min-width: 768px) {
  .about-us__cnt .about-us__img > img {
    width: 400px;
  }
}
@media screen and (min-width: 992px) {
  .about-us__cnt .about-us__img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.snacks {
  color: #fff;
  background-image: url(../img/bg/bg_10.jpg);
  background-repeat: no-repeat;
  background-size: 100% 90%;
  background-position: center top;
}
.snacks-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.8rem;
}
.snacks-cnt__products {
  width: 100%;
}
.snacks-cnt__products .snacks-card {
  display: flex;
}
.snacks-cnt__products .snacks-card .card-snack-lg {
  height: 300px;
  order: 5;
  background-color: #fdf8db;
}
.snacks-cnt__products .snacks-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: unset;
  margin: 1rem auto;
  line-height: 1.5;
  width: 20rem;
}
.card > img {
  border-radius: unset;
}

.instagram-text {
  margin: 1.8rem;
}
.instagram-slider {
  width: 80vw;
  height: auto;
  margin: 1.5rem auto;
  overflow: hidden;
}
.instagram-slider__track {
  display: flex;
  animation: scroll 50s linear infinite;
  -webkit-animation: scroll 50s linear infinite;
  width: 2400px;
}
.instagram-slider__track--slide {
  width: 200px;
}
.instagram-slider__track--slide > img {
  width: 100%;
}

@keyframes scroll {
  0% {
    -webkit-animation: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-animation: translateX(-1200px);
    transform: translateX(-1200px);
  }
}
.communicate {
  /* background-color: #ecdccd; */
  background-color: #25272a;
  padding: 3.125rem 0;
  text-align: center;
}
.communicate__text {
  padding: 0 1rem 0 1rem;
}
.communicate__text > h2 {
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
  font-family: "Raleway", sans-serif;
  color: #7cacd0;
  font-weight: 600;
}

.footer__top {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  padding-top: 1.875rem;
  padding-bottom: 3.125rem;
}
.footer__top--contact {
  font-size: 14px;
  padding: 1rem;
  width: 50%;
}
.footer__top--contact > h2 {
  font-size: 1.8rem;
  color: #dc3545;
  font-weight: 700;
}
.footer__top--contact > ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 0;
}
.footer__top--incalfer {
  text-align: end;
  padding: 1rem;
  width: 50%;
}

.footer__bottom {
  background-color: #f2f2f2;
}
.footer__bottom--text > p {
  margin: 0 1rem 0 1rem;
  padding: 1rem 0;
  font-size: 12px;
  border-top: 1px solid gray;
  text-align: center;
}

.company__content {
  background-image: linear-gradient(#fbf9f6, #f2f2f2);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 1.3rem;
}
.company__content > h2 {
  font-family: "Raleway", sans-serif;
  font-size: 2.25rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
  color: #7cacd0;
}
.company__content--text > p {
  font-size: 0.8rem;
  line-height: 1.5;
}
@media screen and (min-width: 992px) {
  .company__content--text {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .company__content--text > p {
    font-size: 1.8rem;
  }
}

.product {
  background-image: linear-gradient(#fbf9f6, #f2f2f2);
  display: flex;
  flex-direction: column;
  padding: 3.125rem 1rem;
}
@media screen and (min-width: 768px) {
  .product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.contact-page {
  background-image: radial-gradient(#fbf9f6, #f2f2f2);
  display: flex;
  flex-direction: column;
  padding: 3.125rem;
}
.contact-page__info {
  border-bottom: rgba(51, 65, 85, 0.8) solid 1px;
}
@media screen and (min-width: 768px) {
  .contact-page__info {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .contact-page__info--tel {
    font-size: 1.5rem;
  }
}
.contact-page__info--text {
  font-size: 1.2rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .contact-page__info--text {
    font-size: 3rem;
  }
}
.contact-page__form {
  padding: 2.3rem 0;
  border-bottom: rgba(51, 65, 85, 0.8) solid 1px;
}
@media screen and (min-width: 992px) {
  .contact-page__form--forms {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .contact-page__form {
    display: flex;
    justify-content: center;
  }
}
.contact-page__map {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.sign {
  background-image: radial-gradient(#fbf9f6, #f2f2f2);
  padding: 3.125rem;
}
.sign__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign__text > h2 {
  color: #25272a;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 2rem;
  text-align: center;
  width: 500px;
}
.sign__text > p {
  background-color: #90ce7b;
  border-radius: 25% 10%;
  padding: 2rem;
}

@media screen and (min-width: 992px) {
  .carrusel-img {
    background-image: radial-gradient(#fbf9f6, #f2f2f2);
    display: flex;
    justify-content: center;
    padding: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .carrusel-img__container {
    width: 60%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .carrusel-img__container--carousel {
    width: 80%;
  }
}/*# sourceMappingURL=styles.css.map */