* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

img {
  max-width: 100%;
}

h3 {
  font-size: 1.5rem;
}

.button-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  width: inherit;
}

footer {
  width: 100%;
}

.hero__banner {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  height: 30vh;
  text-shadow: gray 1px 3px 5px;
}
.hero__banner > h2 {
  color: #fe9402;
  font-weight: 400;
  text-align: start;
  font-family: "Rubik", sans-serif;
  font-size: 4rem;
}
.hero__banner > span {
  color: #fe9402;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 1rem;
}

.hero__main {
  background-image: url(../img/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  height: 70vh;
}
.hero__main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.hero__main-title-img {
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 0 0.75rem gray);
}

.news {
  display: flex;
  justify-content: center;
  background-color: #fbf9f6;
  background-image: linear-gradient(243deg, #fbf9f6, #e8ddd0);
}
.news-card {
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: transparent;
  border: unset;
}
.news-card__img {
  display: flex;
  margin-bottom: -2rem;
  justify-content: center;
  padding-left: 1rem;
}
.news-card__body {
  display: flex;
  flex-direction: column;
  min-height: 19rem;
  padding: 3rem;
  margin-bottom: 3rem;
  background-color: white;
  border: 3px outset gray;
}
.news-card__body--img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -3rem;
}
.news-card__text {
  font-size: 1.5rem;
  text-align: center;
}
.news-card__text > span {
  display: flex;
  justify-content: center;
  margin-bottom: 1.3rem;
  color: red;
  font-size: 2rem;
  font-weight: 600;
}

.card-img-top {
  width: 70%;
}

.about-us {
  display: flex;
  flex-direction: column;
  min-height: 15rem;
  padding: 1.8rem;
  color: #A64521;
  background-color: #f2f2f2;
}
.about-us__text > p {
  padding: 1.5rem 0;
  line-height: 1.8;
  text-align: start;
}
.about-us__text > h2 {
  font-size: 3.5rem;
  font-weight: 500;
}
.about-us__text > span {
  padding-left: 2rem;
}
.about-us__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.2rem;
}

.banner__item--cono {
  background-color: #F2D680;
}
.banner__item--cono-text {
  color: #A64521;
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}
.banner__item--pellet {
  background-color: #F2B263;
}
.banner__item--pellet > p {
  color: #A64521;
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}
.banner__item--flavor {
  background-color: #D9763D;
}
.banner__item--flavor > p {
  color: #A64521;
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}
.banner__item--flavor > img {
  padding-top: 2.8rem;
}

.instagram {
  background-color: #F2F2F2;
}
.instagram__grilla {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3px;
  margin: 0.5rem;
}
.instagram__grilla > img {
  width: 100%;
  height: 100%;
}
.instagram__text {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.communicate {
  background-color: #ecdccd;
  padding: 3.125rem 0;
  text-align: center;
}
.communicate__text {
  padding: 0 1rem 0 1rem;
}
.communicate__text > h2 {
  font-size: 1.5rem;
  padding-bottom: 0.8rem;
  font-family: "Concert One", cursive;
  color: #A64521;
}

.footer__top {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  padding-top: 1.875rem;
  padding-bottom: 3.125rem;
}
.footer__top--contact {
  font-size: 14px;
  padding: 1rem;
  width: 50%;
}
.footer__top--contact > h2 {
  color: red;
  font-weight: 600;
}
.footer__top--contact > ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 0;
}
.footer__top--incalfer {
  text-align: end;
  padding: 1rem;
  width: 50%;
}

.footer__bottom {
  background-color: #F2F2F2;
}
.footer__bottom--text > p {
  margin: 0 1rem 0 1rem;
  padding: 1rem 0;
  font-size: 12px;
  border-top: 1px solid gray;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */