@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Raleway:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
img{
    max-width: 100%;
}
:root {
    --theme-color: white;
    --primary-color: #334155;    
    --secundary-color: #c3dbc3;
    --text-color: #383b40;
    --text-color-inverse: #c6c7ca;
    --secundary-text-color: #808285;
    
    --gray:#F2F2F2;
    --yellow:#F2D680;
    --orange:#F3B363;
    --carrot:#D9763D;
    --red:#A64521;
    --beige:#fbf9f6;
    --rose:#e8ddd0;
}
header,
footer{
    background-color: beige;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.navbar img{
    max-width: 30%;
    margin: 1rem;
}

.title > h2 ,h3, h1 {
    font-family: 'Concert One', cursive;
    font-size: 2rem;
    color: #f0f0f0;
    text-shadow:black 2px 4px 5px;
}
h1{
    font-size: 5rem;
}
h3{
    font-size: 1.5rem;
}

/*-----------main-----------*/

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;    
}
.hero{
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 3rem;
    height: 70vh;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem; 
}
/*------ novedades ----------*/
.expo{
    background-color: #fbf9f6;
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    justify-content: center;
    background-color: #fbf9f6;
    border: unset;
}
.card-img{
    margin-bottom: -2rem;    
    display: flex;
    padding-left: 1rem;     
}
.card-body{
    border: 3px outset gray;
    padding: 2rem;
    margin-bottom: 3rem;
    background-color: white;
    min-height: 19rem;
    display: flex;
    flex-direction: column;
}
.card-body-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-body-img > img{
    width: 60%;
}
.card-text > span{
    color: red;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 1.3rem;
}
/*----------- about -----------*/
.company{
    color: #A64521;
    background-color: #F2F2F2;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    padding: 1.8rem;
}
.company-text > h2{
    font-size: 3.5rem;
    font-weight: 500;
}
.company-text span{
    padding-left: 2rem;
}
.company-text > p{
    padding: 1.5rem 0;
    line-height: 1.8;    
}
.company-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.2rem;
}
/* ------ snacks -------- */
.banner{
    background-color: #F2B263;
    flex: 1;
}
.pellet{
    color: #A64521;
    font-size: 3rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
}
.button-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* ---- redes sociales --- */
.instagram{
    background-color: #6322A4;
    flex: 1;
}


