.about-us{
    display: flex;
    flex-direction: column;
    min-height: 15rem;
    padding: 1.8rem;    
    background-color: $gray;
    background-image: url(../img/bg/bg_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include tablet {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    &__text{

        @include tablet{
            max-width: 80%;
        }
        > p{
            padding: 1.5rem 0;
            line-height: 1.8;
            text-align: start;
            color: $text-gray;
            
            @include tablet{
                font-size: 1.4rem;
            }    
        }
        > h3 {
            color: #999;
            font-size: 1.3rem;
        }
        > h2{
            font-size: 2rem;
            font-weight: 800;
            color: $text-black;
            > span{
                color: $red;
            }
            
            @include tablet{
                font-size: 2rem;
                font-weight: 700;
            }
        }
        > span{
            padding-left: 2rem;
        }
    } 
   
    &__img{
        @include flex(column, center, center);
        margin-top: 1.2rem;
        
        >h2, span{
            @include flex (column, center, center);
            text-align: center;
            color: $red;
            font-size: 3rem;
            font-family: $fontAssistant;
            font-weight: 800;
            text-transform: uppercase;            
        }
        
        > img {            
            width: 250px;
            @include tablet{
                width: 400px;
            }
        }
    }
}