.about-us__cnt {
    background-color: $gray;
    background-image: url(../img/bg/bg_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    .about-us {
        
        display: flex;
        flex-direction: column;
        min-height: 15rem;
        margin: 1.8rem;
        
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
        }

        &__text {

            @include tablet {
                max-width: 80%;
                margin: 0 auto;
            }

            >p {
                padding: 1.5rem 0;

                @include tablet {
                    font-size: 1.4rem;
                }
            }

            >h1 {

                @include tablet {
                    font-size: 2rem;
                    font-weight: 700;
                }
            }
        }

        &__img {
            @include flex(column, center, center);
            margin-top: 1.2rem;

            >h2,
            span {
                @include flex (column, center, center);
                text-align: center;
                color: $text-black;
                text-shadow: $text-gray 1px 3px 5px;
                font-size: 3rem;
                font-family: $fontAssistant;
                font-weight: 800;
                text-transform: uppercase;
            }

            >img {
                width: 250px;

                @include tablet {
                    width: 400px;
                }
            }

            @include desktop {
                @include flex(row, space-around, center)
            }
        }
    }

}