body{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    max-width: 152.5rem;
    margin: 0 auto;
}

main{
    display: flex;
    flex-direction: column;
    width: inherit;
}

footer{
    width: 100%;
}