.footer__top{
    background-color: $gray;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 3.5rem;


    &--contact{
        font-size: 14px;
        padding: 1rem;

        > h2{
            font-size: 1.8rem;
            color: $red;
            font-weight: 700;
        }

        > ul{
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            padding: 0;
        }
    }

    &--incalfer{
        text-align: center;
        padding: 1rem;
    }
}

.footer__bottom{
    background-color: $gray;

    &--text > p{
        margin: 0 1rem 0 1rem;
        padding: 1rem 0;
        font-size: 12px;
        border-top: 1px solid gray;
        text-align: center;
    }
}