.hero__main,
.title-arrow--img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include flex(column, center, center);
    width: 100%;
}
.hero__main{
    background-image: url(../img/hero1.png);
    background-position: top;
    background-attachment: fixed;
    position: relative;
    padding: 2.3rem;

    &::before {
        content: '';
        background-color: rgba(0,0,0,0);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backdrop-filter: blur(2px) brightness(.9); 
    }

    &-title{
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        margin: 1rem; 
    }

    &-title-img{
        display: flex;
        flex-direction: column;
        filter: drop-shadow(0 0 0.5rem $text-black);

        .title-top{
            animation:rotate-hor-center .9s cubic-bezier(.455,.03,.515,.955) both;
            @keyframes rotate-hor-center{0%{transform:rotateX(0)}100%{transform:rotateX(-360deg)}}
        
        }
        .title-buttom{
            animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) 0.8s both;
            @keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}};
        }
        .title-top,
        .title-buttom{
            text-align: center;
            .top-title,
                .mid-title,
                .bt-title,
                h1{
                    text-transform: uppercase;
                    font-family: $fontTitulo;
                    color: #fff;
                    line-height: 4rem;
                }
                .top-title{
                    font-size: 3rem;
                }
                h1{
                    font-size: 6rem;
                }
                .mid-title{
                    font-size: 3rem;
                }
                .bt-title{
                    margin-top: -.7rem;
                    line-height: 3rem;
                    text-align: center;
                    font-size: 2.3rem;
                }
            
            @include tablet{

                .top-title,
                .mid-title,
                .bt-title,
                h1{
                    text-transform: uppercase;
                    font-family: $fontTitulo;
                    color: #fff;
                    line-height: 6.3rem;
                }
                .top-title{
                    font-size: 6rem;
                }
                h1{
                    font-size: 9rem;
                }
                .mid-title{
                    font-size: 6rem;
                }
                .bt-title{
                    font-size: 4rem;
                }
            } 
        }

        .title-arrow{
            &--img{
                background-image: url(../img/main-cards/productos-arrow.png);
                background-size: contain;
                flex-direction: row;

                @include desktop{
                    margin: 0 auto;
                }

                &-cono{
                    display: flex;
                    .arrow-maiz--back{
                        display: none;
                    }
                    & img{
                        animation: flip-in-diag-2-tl 2.5s cubic-bezier(.25,.46,.45,.94);
                    }
                    &:hover .arrow-maiz--back{
                        display: block;
                    }
                    &:hover .arrow-maiz--front{
                        display: none;
                    }
                }
                >img{
                    width: 200px;
                }
            }
        }
    }
}

@keyframes flip-in-diag-2-tl{
    0%{-webkit-transform:rotate3d(-1,1,0,80deg);
        transform:rotate3d(-1,1,0,80deg);
        opacity:0
    }
    100%{
        -webkit-transform:rotate3d(1,1,0,0deg);
        transform:rotate3d(1,1,0,0deg);
        opacity:1
    }
}