.instagram{

    @include desktop{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        width: 100%;
        padding: 3rem;
    }
    &-text{
        margin: 1.8rem;
        @include desktop{
            width: 80%;
        }
    }

    &-slider{
        width: 80vw;
        height: auto;
        margin: 1.5rem auto;
        overflow: hidden;

        &__track{
            display: flex;
            animation: scroll 40s linear infinite;
            width: calc(200px * 14);
            gap: 0 2px;
            
            &--slide{
                width: 200px;
                >img{
                    width: 100%;
                }
            }
        }
    }

}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-200px * 7));
    }
}

@for $i from 1 through 14 {

    .img-ig#{$i}{
        transition: .5s;
        
    }
    .img-ig#{$i}:hover{
        filter: brightness(70%);
        cursor: pointer;
        width: 98%;
    }

}


/* .img-ig01{
    transition: .5s;
}
.img-ig01:hover{
    margin: -1rem;
    filter:brightness(50%);
}
.img-ig02{
    transition: .5s;
}
.img-ig02:hover{
    margin: -1rem;
    filter: brightness(40%);
}
.img-ig04{
    transition: .5s;
}
.img-ig04:hover{
    margin:-0.5rem;
    filter: grayscale(50);

} */