.news{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.8rem;
    background-color: #fff;
    background-image: url(../img/bg/shape_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &__title {
        
        > h3 {
            color: #999;
            font-size: 1.3rem;
        }
        > h2{
            font-size: 2rem;
            font-weight: 800;
            color: $text-black;
            > span{
                color: $red;
            }
            
            @include tablet{
                font-size: 2rem;
                font-weight: 700;
            }
        }
        > span{
            padding-left: 2rem;
        }
    }

    &-carousel{
        display: flex;
        justify-content: center;
        /*width: 50%;
        background-color: transparent;
        border: unset;*/

        @include desktop {
            width: 550px;
        }

        &__body{
            display: flex;
            flex-direction: column;
            /*min-height: 19rem;
            padding: 3rem;
            margin-bottom: 3rem;
            background-color: white;
            border: 3px outset gray; */

            @include tablet {
                padding: 5rem;
            }

            &--text{
                > p {
                    padding: 1.5rem 0;
                    line-height: 1.8;
                    text-align: start;
                    color: $red;                     
                }
            }

            &--img{

                @include flex (column, center, center);

                >img{
                    width: 70%;

                    @include tablet {
                        width: 50%;
                    }
                    @include desktop{
                        width: 50%;
                    }
                }
            }
        }
        
    }
}