.product{
    background-image: linear-gradient(#fbf9f6,$gray);
    display: flex;
    flex-direction: column;
    padding: 3.125rem 1rem;   

    @include tablet{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

