.snacks{
    color: #fff;
    background-image: url(../img/bg/bg_10.jpg);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: center top;

    &-cnt{    
        @include flex (column, center, center);
        margin: 1.8rem;

    }  

}

.card{
    border-radius: unset;
    margin: 1rem auto;
    line-height: 1.5;
    width: 20rem;

    >btn{
        background-color: $blue;
    }
    
    >img{
        border-radius: unset;
    }
}