.snacks{
    color: #fff;
    background-image: url(../img/bg/bg_10.jpg);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: center top;

    &-cnt{    
        @include flex (column, center, center);
        margin: 1.8rem;

        &__products{
            width: 100%;
            .snacks-card{

                @include desktop{
                    display: flex;
                }
                .card{
                   &-snack-lg{

                    @include desktop{
                        height: 300px;
                        order: 5;
                        background-color: $beige;
                    }
                   }
                   &-body{
                    @include flex(column, center, center);
                   }
                }
            }
        }

    }  

}

.card{
    border-radius: unset;
    margin: 1rem auto;
    line-height: 1.5;
    width: 20rem;

        
    >img{
        border-radius: unset;
    }
}