.snacks{
    color: #fff;
    background-image: url(../img/bg/bg_10.jpg);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: center top;

    &-cnt{    
        @include flex (column, center, center);
        margin: 1.8rem;

        &__text{
            @include desktop{
                width: 80%;
            }
        }

        &__products{
            width: 100%;
            @include desktop{
                width: 80%;
            }

            .snacks-card{
                display: flex;
                flex-wrap: wrap;
                
                .card{
                   &-snack-lg{
                    padding: 1.2rem 0;
                    background-color: #f95a3f;
                    
                    .card-body{

                        .card-title{
                            padding: .5rem 0;
                            font-weight: 800;
                        }
                        >p, h6, h5{
                            color: #fff;
                        }
                    }
                    
                    @include tablet {
                        max-height: 300px;
                        order: 5;
                    }
                   }
                   &-body{
                    @include flex(column, center, center);
                   }
                }
            }
        }

    }  

}

.card{
    border-radius: unset;
    margin: 1rem auto;
    line-height: 1.5;
    max-width: 22rem;
    
    >img{
        border-radius: unset;
    }
}