.banner__item{
    &--cono{
        background-color: #F2D680;
        
        &-text{
            color: #A64521;
            font-size: 3rem;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            padding: 2.5rem;
        }
    }
    &--pellet{
        background-color: #F2B263;

        > p{
            color: #A64521;
            font-size: 3rem;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            padding: 2.5rem;
        }
    }
    &--flavor{
        background-color: #D9763D;

        > p{
            color: #A64521;
            font-size: 3rem;
            font-weight: 600;
            display: flex;
            flex-direction: column;
            padding: 2.5rem;
        }
        > img{
            padding-top: 2.8rem;
        }
    }

}

.banner-pellet{

    @include desktop{
        display: none;
    }
}

