.company-cnt__content{
    background-image: url(../img/bg/bg_4.jpg);
    background-position: center;
}

.company__content{
    &-top{
        @include flex(column, center,center);
        flex-wrap: wrap;
        padding: 1.3rem;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 3rem;
                
        > h2{
            font-family: $fontRubik;
            font-size: 3.25rem;
            font-weight: 600;
            margin-bottom: 1.6rem;
            color: $text-black;
        }
    
        &--text{
            > p{
                font-size: 1rem;
                line-height: 2;
            }
    
            @include tablet{
                display: flex;
                flex-direction: column;
                width: 80%;
    
                > p{
                    font-size: 1.125rem;
                }
            }
        }
    }
    &-img{
        width: 100%;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        position: relative;
        height: 10vh;
        margin-bottom: -3rem;
        
        >img{
            width: 100%;
            position: absolute;
            bottom: 50%;

            /* width: 80%;
            margin-top: -10%;
            padding-top: .7rem;

            @include tablet{
                width: 50%;
                margin: -7%;
                padding: 1rem 0;
            }*/
            @include tablet{
            width: 50%;
            }
            @include desktop{
                width: 450px;
            }
        }
        @include desktop{
            /* width: 50%; */
            margin: 0 auto;
            margin-bottom: -3rem;
        }
    }
    /* ----- GRID ------ */
    &-bt{
        &--mision,
        &--calidad,
        &--filosofia {
            padding: 1.8rem;
            text-align: center;

            @include tablet{
                &--calidad,
                &--filosofia {
                padding: 0 1.8rem;
                }
                p{
                    padding-top: 0;
                    padding-bottom: 2rem;
                }
            }
        }
                
        h2{
            font-family: $fontRubik;
            font-size: 1.8rem;
            text-align: center;
            margin: 1rem;
            color: $text-black;
        }
        &--img{
            margin: 0;
            /* @include desktop{
                display: flex;
                justify-content: flex-end;
                
            } */
            img{
                display: flex;
                width: 100%;
                margin: 0;  
                max-width: unset;    
                object-fit: cover;

                @include tablet{
                    width: 80%;
                    display: flex;
                    padding: 2rem 0;
                    margin: 0 auto;
                }
                @include desktop{
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    height: 100%
                }
            } 
        }
        /* --------- MEDIAQ DESKTOP ------ */
        /* @include desktop{
            &--filosofia,
            &--calidad,
            &--mision {
                @include flex(column, space-evenly,center);
                p, 
                h2{
                    width: 60%;
                    margin: 0 auto;
                    line-height: unset;
                }
                h2{
                    text-align: center;
                }
            }
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            padding: 4rem 0;

            .stand-feria{
                grid-column: 2;
                @include tablet{
                    display: flex;
                    justify-content: flex-start;
                }
            }
            &--filosofia{
                grid-column: 1;
                grid-row: 2;
            }
            &--mision{
                width: 100%;
                height: 20vh;
            }            
        } */
        @include desktop{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            padding: 3rem;
            width: 90%;
            margin: 0 auto;

            &--filosofia,
            &--calidad,
            &--mision {
                @include flex(column, center,center);
                padding: 1.3rem;
                width: 100%;
                p, 
                h2{
                    line-height: unset;
                    text-align: center;
                    margin: 0;
                }
                p{
                    font-size: 1.125rem;
                    padding: 1.3rem;
                }
            }           

            .stand-feria{
                grid-column: 2;
            }
            &--filosofia{
                grid-column: 1;
                grid-row: 2;
            }
            &--mision{
                width: 90%;
                margin: 0 auto;
            }
        }
    }
    &-video{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-bottom: 3rem;
        width: 90%;

        >iframe{
            width: 560px;
            height: 315px;
            @include tablet{
                width: 600px;
                height: 400px;
            }
            @include desktop{
                width: 800px;
                height: 400px;
            }
        }
        
    }
}

