@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600;700;800&family=Nerko+One&family=Raleway:wght@300;400;500&family=Signika:wght@300;400;500;600;700&display=swap');

$fontRaleway: 'Raleway', sans-serif;
$fontRubik: 'Signika', sans-serif;
$fontAssistant: 'Assistant', sans-serif;
$fontTitulo: 'Nerko One';


$text-black: #25272a;
$text-gray: #777;
$text-detail: #a29f9e;
$gray: #f2f2f2;
$red: #dc3545;
$marine: #35489e;
$orange: #fe9402;

$blue: #7cacd0;
$green: #90ce7b;
$beige: #fdf8db;

@mixin flex($direction, $justify, $aling){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $aling;
}



